* {
    margin: 0;
    font-family: 'vazir';
}

.header {
    background-color: rgb(228, 230, 233);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

a {
    text-decoration: none;
}

.login-link {
    margin-left: 5px;
}

.products-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.product-card {
    height: 520px;
    width: 300px;
    padding: 10px;
    background-color: red;
    margin: 30px 10px;
    border-radius: 10px;
    position: relative;
    line-height: 35px;
    color: white;
}

img {
    width: 100%;
    height: 200px;
    margin: 10px 0;
    border-bottom: 2px gray solid;
}

.product-description, .product-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.product-category{
    background-color: rgba(252, 252, 252, 0.29);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.discount-info{
    top: -29px;
    left: -1px;
    background-color: blue;
    color: white;
    border-radius: 100%;
    padding: 15px;
    position: absolute;
}

.product-title{
    margin-top: 10px;
}

.order-btn{
    background-color: rgba(255, 255, 255, 0.13);
    border: 2px white solid;
    height: 50px;
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius:8px;
}

.final-price-span{
    color: greenyellow;
}

.original-price{
    color: orange;
}

.footer{
    background-color: rgb(255, 198, 11);
    text-align: center;
    padding: 30px;
    direction: rtl;
}
